<html>
    <head>
        <title>Guia de Perguntas</title>
    </head>
    <body>
        <h1>Guia de Perguntas</h1>
        <h3>Deixe suas perguntas aqui.</h3>

        <p>Nome: <%= nome %></p>
        <p>Linguagem favorita: <%= lang %></p>
        <p>Empresa: <%= empresa %></p>
        <p>Quantidade de inscritos: <%= inscritos %></p>

        <% if (msg) { %>
            <h3>Isso é uma mensagem de erro!</h3>
        <% } else { %>
            <h3>Nenhum erro.</h3>
        <% } %>
    </body>
</html>